body
{
  background-color: #10141E;
  color: white;
  font-family: sans-serif;
}

#trendList
{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 4vh;
  margin-left: 11vw;
}

#searchList
{
  display: none;
  flex-wrap: wrap; /* Allows the items to wrap to a new line */
  gap: 20px; /* Space between items */
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin-top: 22vh;
  margin-left: 13vw;
}

#recommendList
{
  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap to a new line */
  gap: 20px; /* Space between items */
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin-top: 40vh;
  margin-left: 13vw;
}

#movieList
{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: -5vh;
  margin-left: 15vw;
  flex-wrap: wrap; /* Allows the items to wrap to a new line */
  gap: 20px; /* Space between items */
  list-style-type: none; /* Remove bullets */
  padding: 0;
}

#bookmarkSeriesList
{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: -2vh;
  margin-left: 15vw;
  flex-wrap: wrap; /* Allows the items to wrap to a new line */
  gap: 20px; /* Space between items */
  list-style-type: none; /* Remove bullets */
  padding: 0;
}


#movieList img
{
  border-radius: 12px;
}


.trendLi
{
  margin-left: 2vw;
  color: white;
}

.searchLi
{
  margin-left: 2vw;
  color: white;
}

.recommendLi
{
  flex: 1 1 calc(10% - 16px); /* Each <li> takes up 25% of the row width, minus the gap */
  box-sizing: border-box; /* Ensure padding/margins don't affect width */
  margin-top: 10vh;
}

.movieLi
{
  margin-top: 7vh;
}

.active
{
  color: white;
}

.trendLi img
{
  border-radius: 18px;
}

#trendTitle
{
  margin-left: 16vw;
  margin-top: -3vh;
  font-size: 1.8em;
  position: absolute;
}

#searchInput
{
  width: 75%;
  display: flex;
  justify-content: center;
  margin-left: 20vw;
  margin-right: auto;
  height: 5vh;
  background: transparent;
  border: none;
  margin-top: 6vh;
  color: white;
} 

#searchInput:focus
{
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

#searchIcon
{
  position: absolute;
  margin-left: 16.5vw;
}

.navMenu
{
  background-color: #161D2F;
  width: 9%;
  height: 90vh;
  border-radius: 14px;
  position: absolute;
  margin-left: 2vw;
  margin-top: -3vh;
  text-align: center;
}

.navLogo
{
  position: absolute;
}

.navList 
{
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 3vw;
  margin-top: 4vh;
}

.navList li
{
  margin-top: 4vh;
}

#recommendTitles
{
  margin-top: 50vh;
  margin-left: 15vw;
  font-size: 1.8em;
}

.hidden-play-div {
  display: none;
  width: 19.7%;
  height: 10.8%;
}

.trendLi:hover .hidden-play-div {
  display: block;
}

.recommendLi:hover .hidden-play-div {
  display: block;
}

#recommendTitle
{
  margin-left: 15vw;
  margin-top: 40vh;
  position: absolute;
}

#moviesTitle
{
    margin-left: 18vw;
    margin-top: -3vh;
}

#bookmarkSeries
{
  margin-left: 17vw;
  margin-top: 75vh;
}

#pageHeader
{
  display: none;
}